<h1>Consumindo APi com Angular!</h1>
<div class="container">
  
  <input type="text" id="inputCep" autocomplete="previous-ceps">
  
  <button (click)="obter()">Buscar🔎</button>
  <button (click)="deletar()">Deletar ❌</button>
</div>
<div class="wrapper">
<table *ngIf="dadosCep">
  <thead>
    <tr>
      <th>CEP</th>
      <th>Logradouro</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cep of dadosCep">
      <td>{{ cep.cep }}</td>
      <td>{{ cep.logradouro }}</td>
      <td>{{ cep.bairro }}</td>
      <td>{{ cep.localidade }}</td>
      <td>{{ cep.uf }}</td>
    </tr>
  </tbody>
</table>

<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>

<div class="push"></div>
</div>
<footer class="footer">
  <h2>By Aquino 🚀</h2>
</footer>